{% extends 'student/student_master.html' %}
{% block student_content %}
<table class="form"> 
  <form>
    <h2 class="head" style="font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;   
    padding-top: 40px;"><b>Please Check Your Details...</b></h2>
      <tr>
        <td><label for="">Name:</label></td>
        <td><input type="" class="form-control" name="" id="" placeholder="{{stu.name}}"></td>
      </tr>
      <tr>
        <td><label for="">Enrollment Number:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{stu.eno}}"> </td>
      </tr>
      <tr>
        <td><label for="">DOB:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{stu.dob}}"></td>
      </tr>
      <tr>
        <td><label for="">Email:</label></td>
        <td><input type="" class="form-control"  name="" id=""  placeholder="{{stu.email}}"></td>
      </tr> 
      <tr>
        <td><label for="">Phone Number:</label></td>
        <td><input type="" class="form-control"  name="" id=""  placeholder="{{stu.phone}}"></td>
      </tr>
      <tr>
        <td><label for="">Gender:</label></td>
        <td><input type="" class="form-control"  name="" id=""  placeholder="{{stu.gender}}"></td>
      </tr>
      <tr>
        <td><label for="">Semester:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{stu.semester}}"></td>
      </tr>
      <tr>
        <td><label for="">Department:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{stu.dpt}}"></td>
      </tr>
      
      <tr>
        <td> <button type="button" class="btn btn-dark">Capture Image</button></td>
        <!-- <td> <button type="button" class="btn btn-success">Capture Image</button></td> -->
      </tr>
     
     

 </form>
</table>
{% endblock %}