<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<style>
    
    .head{
        max-width: 600px;
        margin: 50px auto; 
        position: relative;
        box-shadow: 0 50px 50px 0px rgba(0,0,0,0.1);
        padding-top: 50px;
        background: linear-gradient(to right,hsl(204, 81%, 69%) 0%, #30f36b  100%);
        border-radius: 20px;
        text-align: center;
    }
    .mail{
        line-height: 30px;
        width: 350px;
    }
    

</style>
<body>
    


    <section class="head">
        <h2 class="title">Forgot password</h2>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 pt-5">
                  <input type="text"  class="mail" name="" id="" placeholder="Email/Phone Number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-5">
                    <button type="button" class="btn btn-success">Change Password</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pt-5">
                 <a href="" class="link">Back to Sign In</a><br><br><br>
                </div>
            </div>
     </section>
    
</body>
</html>