{% extends 'faculty/faculty_master.html' %}
{% block faculty_content %}
<table class="form"> 
  <form>
    <h2 class="head" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;text-align: center;padding-top: 40px; "><b>Please Check Your Details...</b></h2>
      <tr>
        <td><label for="">Name:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{fac.name}}"></td>
      </tr>
      <tr>
        <td><label for="">Department:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{fac.department}}"></td>
      </tr>
      <tr>
        <td><label for="">Gender:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{fac.gender}}"></td>
      </tr>
      <tr>
        <td><label for="">DOB:</label></td>
        <td><input type="" class="form-control"  name="" id=""  placeholder="{{fac.dob}}"></td>
      </tr> 
      <tr>
        <td><label for="">Email:</label></td>
        <td><input type="" class="form-control"  name="" id=""  placeholder="{{fac.email}}"></td>
      </tr>
      <tr>
        <td><label for="">Phone Number:</label></td>
        <td><input type="" class="form-control" name="" id=""  placeholder="{{fac.phone}}"></td>
      </tr>
      <br>

      <tr>
        <td> <button type="button" class="btn btn-dark">Submit</button></td>
      </tr>
     

 </form>
</table>
{% endblock %}