{% extends 'faculty/faculty_master.html' %}
{% block faculty_content %}

<style>
  #btn{
    color: #fff;
    margin-top: 350px;
    margin-left: 375px;
    text-decoration: none;
    background-color: black;
    position: relative;
  }
</style>
<center><h1 class="heads" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;text-align: center;padding-top: 20px;">Student Details</h1></center><br>




<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" method="POST" action="search_student">
      {% csrf_token %}

     <div class="form-group col-8">
        <label for="">Department :</label>

        <select class="form-control" name="dropdown1" id="dpt" >
    <option selected="selected" disabled>Department</option>

            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
        </select>
        <span id="dpt_span"></span>
    </div>

    <div class="form-group col-8"  style="margin-left: 120px;">
        <label for="" >Semester :</label>
        <select class="form-control" name="dropdown2" id="sem">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <span id="sem_span"></span>
    </div>
    <div>
      <button type="submit"class="btn btn-dark" style="margin-left: 50px; margin-top: 20px;" value="select">Search</button>
    </div>
    
    </form>
  </div>
</nav>






 <table class="table" style="width: 800px; margin-left: 30px; margin-top: 50px;">
  <thead>
    <tr>
      <!-- <th scope="col">id</th> -->
      <th>No.</th>
      <th scope="col">Reg No.</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">Phone no.</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    {% for i in stu_details %}
    <tr>
      <!-- <td scope="col"></td> -->
      <td>{{forloop.counter}}</td>
      <td scope="col">{{i.eno}}</td>
      <td scope="col">{{i.name}}</td>
      <td scope="col">{{i.dob}}</td>
      <td scope="col">{{i.email}}</td>
      <td scope="col">{{i.phone}}</td>
      <td scope="col">{{i.gender}}</td>
    </tr>
    {% endfor %}
   </tbody>
</table>





<div class="row">
  <div class="">
    <button type="button" id="btn" class="btn btn-dark"><a href="{% url 'faculty:student_register' %}" >Add New Student</a></button>
  </div>
  
</div>
              
{% endblock %}