{% extends 'admins/admins_master.html' %}
{% block admins_content %}
<!-- <center><h1 class="heads" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif; text-align: center;padding-top: 20px;">Student Details</h1></center><br>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
     
      <div class="form-group col-8" style="margin-left: 30px;">
        <label for="">Department :</label>
        <select class="form-control" name="" id="dpt" >
            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
        </select>
        <span id="dpt_span"></span>
    </div>

    <div class="form-group col-8"  style="margin-left: 200px;">
        <label for="" >Semester :</label>
        <select class="form-control" name="" id="sem">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <span id="sem_span"></span>
    </div>
    </form>
  </div>
</nav>


 <table class="table" style="width: 800px; margin-left: 30px; margin-top: 50px;">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Enrollment No.</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">Phone no.</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table> -->

<center><h1 class="heads" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;text-align: center;padding-top: 20px;">Student Details</h1></center><br>




<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex" method="POST" action="search_stu">
      {% csrf_token %}

     <div class="form-group col-8">
        <label for="">Department :</label>

        <select class="form-control" name="dropdown1" id="dpt" >
    <option selected="selected" disabled>Department</option>

            <option value="cse">CSE</option>
            <option value="ece">ECE</option>
        </select>
        <span id="dpt_span"></span>
    </div>

    <div class="form-group col-8"  style="margin-left: 120px;">
        <label for="" >Semester :</label>
        <select class="form-control" name="dropdown2" id="sem">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <span id="sem_span"></span>
    </div>
    <div>
      <button type="submit"class="btn btn-dark" style="margin-left: 50px; margin-top: 20px;" value="select">Search</button>
    </div>
    
    </form>
  </div>
</nav>






 <table class="table" style="width: 800px; margin-left: 30px; margin-top: 50px;">
  <thead>
    <tr>
      <!-- <th scope="col">id</th> -->
      <th scope="col">Reg No.</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">Phone no.</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
    {% for i in stu_details %}
    <tr>
      <!-- <td scope="col"></td> -->
      <td scope="col">{{i.eno}}</td>
      <td scope="col">{{i.name}}</td>
      <td scope="col">{{i.dob}}</td>
      <td scope="col">{{i.email}}</td>
      <td scope="col">{{i.phone}}</td>
      <td scope="col">{{i.gender}}</td>
    </tr>
    {% endfor %}
   </tbody>
</table>






              
{% endblock %}