{% extends 'admins/admins_master.html' %}
{% block admins_content %}

<center><h1 class="heads" style="font-weight: bolder;font-family: 'Times New Roman', Times, serif;text-align: center;padding-top: 30px;">Faculty Details</h1></center>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
        </a>
    <form class="d-flex"  >
      <input class="form-control me-2" type="search" placeholder="Search by Name" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<table class="form"> 
    <form>
         <tr>
           <td><label for="">Name:</label></td>
           <td><input type="text" class="form-control" name="" id=""></td>
         </tr>
         <tr>
            <td><label for="">Department:</label></td>
            <td><input type="" class="form-control" name="" id=""></td>
          </tr>
          <tr>
            <td><label for="">Gender:</label></td>
            <td><input type="" class="form-control"  name="" id=""></td>
          </tr>
         
         <tr>
           <td><label for="">DOB:</label></td>
           <td><input type="" class="form-control" name="" id=""></td>
         </tr>
         <tr>
           <td><label for="">Email:</label></td>
           <td><input type="" class="form-control"  name="" id=""></td>
         </tr> 
         <tr>
           <td><label for="">Phone Number:</label></td>
           <td><input type="" class="form-control"  name="" id=""></td>
         </tr>
         <tr>
             <td></td>
         </tr>
         <tr>
            <td></td>
        </tr>
        
         <tr>
           <td><button type="button" class="btn btn-dark"><a href="{% url 'faculty_register' %}" style="color: white; text-decoration: none;">Add New Faculty</a></button></td>
           
         </tr>
        
     </form>
 </table>

 
                   
{% endblock %}